/* Default table style. */
table
{
	border-collapse: collapse;
}
table
{
	border: 1px solid gray;
}

/* Right align input values */
th, td, input
{
	text-align: right;
}

.final-label
{
	font-size: large;
	font-weight: bold;
}

#input-table th
{
	vertical-align: top;
}
